.picture{
  &_img{
    width: 100%;
    height: 400px;
    background-image: url("../img/pict.png");
    background-size: cover;
  }
  &_text{
    font-family: $proxima_exb;
    position: absolute;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 42px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
}