.footer{
  width: 100%;
  background-color: $head_foot-color;
  color: white;
  margin-top: 20px;
  &_container{
    padding-top: 16px;
    padding-bottom: 16px;
    width: 60%;
    margin: auto;
    svg{
      margin-right: 10%;
    }
    &_phone{
      font-size: 19px;
      font-family: "Proxima Nova Extrabold", sans-serif;
    }
    &_email{
      font-size: 19px;
      font-family: "Proxima Nova Extrabold", sans-serif;
      color: #cc9933;
    }
    &_address{
      font-family: "Proxima Nova Extrabold", sans-serif;
      line-height: 13px;
      font-size: 12px;
      color: #cc9933;
      &_house{
        font-family: "Proxima Nova Extrabold", sans-serif;
        line-height: 13px;
        font-size: 12px;
        color: white;
      }
    }
  }
}