.header{
  width: 100%;
  background-color: $head_foot-color;
  color: $white-text;
  &_container{
    margin: auto;
    width: 65%;
    min-width: 1200px;
    > *{
      vertical-align: middle;
    }
    li{
      display: inline-block;
    }
    &_element{
      font-size: 14px;
      margin-right: 1.5%;
      margin-left: 1.5%;
    }
  }
  &_underline{
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    padding-left: 60%;
    background-color: #333333;
  }
}