.other_articles{
  width: 60%;
  margin: auto;
  margin-top: 40px;
  &_head{
    margin-bottom: 35px;
    font-size: 30px;
    font-family: "Proxima Nova Extrabold", sans-serif;
  }
  &_buttons{
    width: 40%;
    margin-left: 30%;
    margin-right: 40%;
    margin-top: 20px;
    &_button{
      width: 5px;
      height: 6px;
      background-color: black;
    }
  }
}
.slider{
  &_title{
    font-family: $proxima_exb;
    font-size: 17px;
    position: absolute;
    color: $white-text;
    bottom: 10%;
    padding: 10px;
  }
}