.second_screen {
  width: 60%;
  margin: auto;
  &_head h2{
    margin-top: 52px;
    margin-bottom: 20px;
    font-size: 31px;
    font-family: $proxima_exb;
  }
}
.picture{
  &_sofas h3{
    font-size: 31px;
    font-family: $proxima_exb;
    margin-top: 40px;
  }
}
