html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 100%;
  margin: auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  display: none;
}


.slick-slide {
  transition: all ease-in-out .3s;
}

ul .slick-active {
  opacity: 0.5;
  img{
    opacity: 1;
  }
}

.slick-current {
  opacity: 1;
}
.slick-dots li{
  width: auto;
  margin-right: 3%;
  margin-left: 3%;
  button{
    background: black;
    height: 3px;
    width: 100px;
  }
}
.slick-prev{
  display: none;
}
.slick-dotted.slick-slider{
  margin-bottom: 50px;
}