.third-screen{
  width: 60%;
  margin: auto;
  margin-top: 40px;
  &_head h2{
    font-size: 30px;
    font-family: $proxima_exb;
  }
  &_video{
    margin-top: 30px;
    background-color: #cccccc;
    width: 100%;
    height: 450px;
    &_title{
      font-size: 100px;
      position: absolute;
      top: 215%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.picture_sofas{
  margin-top: 30px;
  margin-bottom: 74px;
  h3{
    margin-bottom: 10px;
    font-family: $proxima_exb;
  }
}